li {
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #e3ded9;
}
